pkgbase = futureboard-studio-bin
	pkgdesc = Futureboard Studio — native Digital Audio Workstation
	pkgver = 2026.9.8
	pkgrel = 1
	url = https://github.com/arizkami/Futureboard
	install = futureboard-studio-bin.install
	arch = x86_64
	license = LicenseRef-proprietary
	depends = alsa-lib
	depends = gtk4
	depends = libgudev
	depends = libxkbcommon-x11
	depends = shared-mime-info
	optdepends = pipewire-pulse: PipeWire audio output
	optdepends = pulseaudio: PulseAudio audio output
	optdepends = nvidia-utils: Vulkan driver for NVIDIA GPUs (Mesa already covers Intel/AMD)
	provides = futureboard-studio
	conflicts = futureboard-studio
	options = !strip
	options = !debug
	source_x86_64 = Futureboard.Studio-2026.9.1-beta1.2-x86_64.AppImage::https://github.com/arizkami/Futureboard/releases/download/nightly/Futureboard.Studio-2026.9.1-beta1.2-x86_64.AppImage
	sha256sums_x86_64 = SKIP

pkgname = futureboard-studio-bin
